.App {
    width: 400px;
    margin: 0 auto;
    font-family: sans-serif;
  }

  .title {
    text-align: center;
  }

  .add_form input,
  .add_form button,
  .clear {
    padding: 5px;
    border: 0;
    outline: 0;
    font-size: 16px;
  }
  
  .add_form input {
    background: #e1e1e2;
  }
  
  .add_form button,
  .clear {
    background: #333;
    color: white;
    margin: 10px 0 0 0;
  }
  
  .list {
    padding: 40px 0;
  }
  
  .list > div {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .list > div:last-child {
    border-bottom: 0;
  }
  
  .completed {
    text-decoration: line-through;
  }
  